#quote-box {
    background-color: white;
    padding: 20px 30px;
    margin: 200px auto;
    max-width: 500px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px 1px #22222273;
}

#text {
    text-align: center;
    font-style: italic;
    font-family: 'Righteous', cursive;
    font-size: 26px;

}

#author {
    text-align: end;
}

i {
    margin-right: 10px;
}

button {
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-family: 'Nunito', sans-serif;
    background: var(--red);
    border-color: var(--red);
    font-size: 16px;
}

.btnTweet {
    background: var(--light-blue);
    border-color: var(--light-blue);
}